body {
    font-family: 'Roboto', sans-serif;
    min-width: 16rem;
}


/* Шрифты */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* Сетка макета */
.container {
    max-width: 53rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none; /*Убирает маркеры перед абзацем*/
}
/** Общие стили*/
.style-text{
    font-size: 0.7rem;
    font-weight: 100;
    color: #3e3e3e;
}
.text-centr{
    text-align: center;
}

a {
    text-decoration: none;
    /*убрать подчеркивание у ссылок*/
}
.padding-text{
    padding: 0 0 0.75rem;
}
html{
    font-size: 20px;
}

/*Первый блок*/
.block1 {
    background: url("../img/top_bg.jpg") no-repeat top center / cover;
    position: static;
    min-height: 100vh;
    color: #d3d3d3;
    font-size: 0.75rem;
    position: relative;
    overflow: hidden;
}

.block1__header {
padding-top: 54px;
}

.block1__nav li {
    display: inline-block;
}

.block1__nav li+li {
    margin-left: 44px;
}
.block1__logo{
    box-sizing: border-box;
    display: flex;
}
.block1__img{
    display: inline-block;
    margin-right: 4rem;
}

.block1__nav a {
    color: #d3d3d3;
    text-transform: uppercase;
    transition: 0.2s;
}

.block1__nav a:hover {
    color: #90d23d;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}
.block1__navigation{
    display: inline-block;
    margin: 0 5rem 0 0;
}

.block1__chapter {
    padding: 9.75rem 0 18rem;
}
.block1__chapter_thin {
    font-size: 4rem;
    font-weight: 100;
    color: #d3d3d3;
}

.block1__chapter_regular {
    font-size: 2.5rem;
    padding-top: 10px;
    font-weight: 400;
    text-align: center;
    color: #d3d3d3;
}
.stroka{
    display: inline-block;
}

.stroka span{
    border-bottom: 1px solid #ffffff;
}
.stroka a{
    color: #ffffff;
}
.block1::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100vw solid #fff;
    left: 0; 
    bottom: 0;
}


/*Второй блок*/

.block2 {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 152px;
    padding: 81px 0 0;
}
.block2__wellcome{
    position: absolute;
    width: 43%;
    top: -208px;
    right: 0;
    background-color: #ffffff;
    padding: 35px 35px 60px;
    box-shadow:  0px 1px 2px 0px rgba(35, 31, 32, 0.65);

    }
.block2__head {
    font-size: 50px;
    font-weight: 700;
    color: #252525;
}

.block2 h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252525;
    margin: 0 0 20px;
}

.block2 [id=whai] {
    font-size: 50px;
}

.block__plus{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 0 15px;
}

.block__plus b {
    font-size: 35px;
    font-weight: 900;
    color: #252525;
}
.block2__block{
    padding: 148px 0 0;
    overflow: hidden;
    margin: 0 -30px 0;
}

.width{
    position: relative;
}
.block2__img-wrap{
    min-height: 211px;
}
.block2__img-wrap img{
    max-width: 70%;
    max-height: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: 0.2s;
}
.block2__img-wrap img:hover{
transform: scale(1.07);
}

/* Тратья часть с выбором фильма из таблицы*/
.block3 {
    width: 56rem;
    margin: 0 auto;
    margin-bottom: 38px;

}

.movie-list__header {
    text-align: center;
    color: #252252;
    font-size: 50px;
    font-weight: 700;
    margin: 90px;
    margin-bottom: 80px;
}

.movie-table {
    text-align: center;
    color: #f5f5f5;
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    height: 75px;
}

.movie-table td,
.movie-table th {
    padding: 21px;
}


.movie-table .movie-table_head {
    background: #a3cc40;
    font-size: 30px;
    font-weight: 900;
}

.movie-table .movie-row {
    background: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
}

.movie-table .movie-row a {
    color: #f5f5f5;
    text-decoration: none;
}

.movie-table .movie-row:nth-child(odd) {
    background: #373737;

}

table.movie-table tfoot td {
    color: black;
    padding: 39px;
    padding-left: 99px;
    font-size: 14px;
    padding-right: 99px;
}

.movie-table .movie-row:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.movie-table .movie-row:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

/*Четвертая часть*/

.block4 {
    background: url("../img/b4_bg.jpg") no-repeat top center / cover;
    min-height: 50vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 130px;
}

.left {
    text-align: left;
}

.block4__img{
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    top: 29px;
}
.block4__block{
    text-align: right;
    color: #ffffff;
    box-sizing: border-box;
    padding: 234px 0 0
}
.block4__text{
    padding-left: 1px;
}

.block4__head{
    font-size: 50px;
    font-weight: 900;
    padding: 0 0 60px;
}
.text4{
    font-size: 14px;
    font-weight: 100;
}
.block4::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100vw solid #fff;
    left: 0; 
    bottom: 0;
}
.block4::before{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #ffffff;
    right: 0; 
    top: 0;
}


.Rounded_Rectangle_4 {
    text-align: center;
    border-radius: 15px;
    position: absolute;
    color: #ffffff;
    background-color: rgb(144, 210, 61);
    border-color: rgb(144, 210, 61);
    right: 0;
    width: 220px;
    height: 55px;
    z-index: 83;
    bottom: -85px;
}
/** Пятая часть*/
.block5{ 
    margin: 0 auto;
}
.block5__header{
    font-size: 50px;
    font-weight: 700;
    padding: 0 0 43px 0;
}
.block5__text1{
    padding: 0 0 56px 0;
}

.block5__inner{
    width: 100%;
    border-collapse: collapse;/*соединение границ таблицы*/
}

.block5__relative{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.block5__movie{
    padding: 23px;
    position: relative;
}
.block5__description{
    position: absolute;
    background-color: rgb(144, 210, 61, 0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 24px 24px 60px;
    transform: translateY(100%);
}
.block5__film{
    color:#ffff;
    font-size: 35px;
    font-weight: 900;
}
.block5__text{
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
}
.block5__sep{
    width: 84px;
    height: 6px;
    background: #ffff;
    margin: 10px ;
}
.block5__icon{
    display: flex;
    justify-content: space-between;
    width: 151px;
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.block5__relative:hover  .block5__description{
    transform: translateY(0);
    transition: 0.2s;
}


.block5__film_cover{
    width: 100%;
}

.block6__map{
    display: block;
    width: 100%;
    overflow: hidden;                                                                                                                   
}

.block7{
    height: 220px;
    background-color: #90d23d;

}
.block7__block_icon{
    padding: 128px 0px 0px 22px;
    width: 334px;
    margin: 0 auto;
    box-sizing: border-box;
}
.block7__icon{
    overflow: hidden;
    display: inline-block;
    border-radius: 100%;
    margin: 0px 10px 0 0;
}