body{
    font-family: 'Roboto', sans-serif;

}


/* Шрифты */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
/* Общие стили*/
.container{
    font-size: 14px;
font-weight: 100;
color: #777777;
list-style-type: none; /*Убирает маркеры перед абзацем*/
}
a{
    text-decoration: none; /*убрать подчеркивание у ссылок*/
}
/** Сетка макета */
.container{
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
}
/*Первый блок*/
.container1__header{
    background: url("../img/top_bg.jpg") no-repeat top center / cover;
    min-height: 100vh;
    color: #d3d3d3;
    font-size: 15px;

}
.container1__logo{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    height: 30px;
}

.container1__chapter_thin{
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    color: #d3d3d3;
}
.container1__chapter_regular{
    font-size: 50px;
    padding-top: 10px;
    font-weight: 400;
    text-align: center;
    color: #d3d3d3;
}
.container1__nav{
    margin-left: 500px;
}
.container1__nav li {
    display: inline-block;
}
.container1__nav li+li{
    margin-left: 44px;
}
.container1__nav a{
    color: #d3d3d3;
    text-transform: uppercase;
    transition: 0.2s;
}
.container1__nav a:hover{
    color: #90d23d;
    cursor: pointer;
}

.container1__chapter{
    padding: 180px 0 360px;
}







/*Второй блок*/
.container2 div {
    display: inline-block;
}
.container2{
    
    font-size: 14px;
    font-weight: 300;
}
.container2__wellcome{
position: absolute;
    height: 267px;
    width: 516px;
    margin-inline: 15px;
}

.container2__head{
    font-size: 50px;
    font-weight: 700;
    color: #252525;
}



.container2 h2 {
    font-size: 40px;
    font-weight: 700;
}

.container2 [id=whai] {
    font-size: 50px;
}

.container2__block b{
    font-size: 35px;
    font-weight: 900;
}

.container2__block-screen{
    height: 160px;
    width: 300px;
    display: inline-block;
    height: 160px;
    width: 300px;
    margin: 35px;
}
.container2__block-sound{
    display: inline-block;
    height: 160px;
    width: 300px;
    margin: 35px;
}
.container2__block-armchair{
    display: inline-block;
    height: 160px;
    width: 300px;
    margin: 35px;
}













/* Тратья часть с выбором фильма из таблицы*/
.container3 {
    max-width: 1030px;
    margin: 0 auto;
}


.movie-list__header{
    text-align: center;
    color: #252252;
    font-size: 50px;
    font-weight: 700;
    margin: 90px;
}

.movie-table {
    text-align: center;
    color: #f5f5f5;
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    height: 75px;
}

.movie-table td, .movie-table th{
    padding: 16px;
}


.movie-table .movie-table_head {
    background: #a3cc40;
    font-size: 30px;
    font-weight: 900;
}

.movie-table .movie-row {
    background: #6c6c6c;
    font-size: 22px;
    font-weight: 400;
}

.movie-table .movie-row a{
        color: #f5f5f5;
        text-decoration: none;
}

.movie-table .movie-row:nth-child(odd){
    background: #373737;

}

table.movie-table tfoot td{
    color: black;
    padding: 39px;
    padding-left: 99px;
    font-size: 14px;
    padding-right: 99px;
}

.movie-table .movie-row:last-child td:first-child{
    border-bottom-left-radius: 15px;
}
.movie-table .movie-row:last-child td:last-child{
    border-bottom-right-radius: 15px;
}

.container4{
    float:left;
    margin: 7px 7px 7px 0; 
    background: url("../img/b4_bg.jpg") no-repeat top center / cover;
    min-height: 100vh;

}

.left{
    text-align: left;
}
.Rounded_Rectangle_4 {
    text-align: center;
    border-radius: 15px;
    background-color: rgb(144, 210, 61);
    position: absolute;
    left: 981px;
    top: 2718px;
    width: 220px;
    height: 55px;
    z-index: 83;
}







/** Компоненты */
/** Медиа – правила */